flows_lesson2_RevegaJuriy.json
[{"id":"8454966f.c64018","type":"tab","label":"Лекция №2 Post запросы","disabled":false,"info":""},{"id":"2928a405.8dd41c","type":"inject","z":"8454966f.c64018","name":"Все параметры ОК","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["a0140725.7562a8"]]},{"id":"b7394058.18c14","type":"http request","z":"8454966f.c64018","name":"Отправляем POST запрос себе же","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:1880/recievePostData","tls":"","proxy":"","authType":"","x":830,"y":240,"wires":[["52cf0ce4.a479b4"]]},{"id":"52cf0ce4.a479b4","type":"debug","z":"8454966f.c64018","name":"Ответ Post Запроса","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":240,"wires":[]},{"id":"389ab9bd.3eea06","type":"http in","z":"8454966f.c64018","name":"Ловим свой POST","url":"/recievePostData","method":"post","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["6428c475.a1d09c"]]},{"id":"21d3f11a.f1b7fe","type":"http response","z":"8454966f.c64018","name":"Ответ - успешно","statusCode":"200","headers":{},"x":950,"y":1182,"wires":[]},{"id":"a0140725.7562a8","type":"change","z":"8454966f.c64018","name":"Описываем параметры для передачи","rules":[{"t":"set","p":"payload.phone","pt":"msg","to":"+380509584962","tot":"str"},{"t":"set","p":"payload.sid","pt":"msg","to":"191017csa1w0p2lry22i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["b7394058.18c14"]]},{"id":"8806c431.e585a8","type":"function","z":"8454966f.c64018","name":"Валидация номера телефона. Определение оператора","func":"msg.payload.operCode = null;\nmsg.payload.phoneValid = 'N';\nvar phone = phoneValidator (msg.POST_DATA.phone);\nif (phone) {\nvar operCode = getMobileOperator (phone);\nmsg.payload.operCode = operCode;\nmsg.payload.phoneValid = 'Y';\n}\n\n\n\n\nfunction phoneValidator(phone) {\n    var newPhone = phone.replace(/[\\-\\(\\)\\s]/gi, '');\n    var regularObjs = {\n        reg_0: /^\\+380\\d{9}$/,\n        reg_1: /^380\\d{9}$/\n    };\n    for (var key in regularObjs) {\n        if (regularObjs[key].test(newPhone)) {\n            switch (key) {\n                case 'reg_0':\n                    return newPhone;\n                case 'reg_1':\n                    return '+' + newPhone;\n            }\n        }\n    }\n    return null;\n}\n\nfunction getMobileOperator(phone) {\n    var code = phone.slice(3, 6);\n    var codeMatrix = {\n        \"Kievstar\": ['067', '096', '097', '098'],\n        \"Vodafone\": ['050', '066', '095', '099'],\n        \"Lifecell\": ['063', '073', '093', ]\n    }\n    var result = 'Unknown';\n    for (var key in codeMatrix) {\n        if (codeMatrix[key].indexOf(code) > -1) {\n            result = key;\n            break;\n        }\n    }\n    return result;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":862,"wires":[["dcefeb9a.bb7468"]]},{"id":"894056ca.d02fa8","type":"comment","z":"8454966f.c64018","name":"Эмулятор Post запросов","info":"","x":130,"y":80,"wires":[]},{"id":"dcefeb9a.bb7468","type":"switch","z":"8454966f.c64018","name":"Телефон валиден?","property":"payload.phoneValid","propertyType":"msg","rules":[{"t":"eq","v":"Y","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":942,"wires":[["eb35517e.c63b7"],["89144527.bd04c8"]]},{"id":"eb35517e.c63b7","type":"function","z":"8454966f.c64018","name":"Парсим оператора нодой функции","func":"function finalMsgArr (msg) {\n  var outputIndex = {\n        \"Kievstar\": 0,\n        \"Vodafone\": 1,\n        \"Lifecell\": 2\n  }\n\nvar arr = [null, null ,null, null]\n// 'kievstar', 'vodafone', 'lifecell', 'unknown'\n\nvar index = outputIndex[msg.payload.operCode];\n\nif (!index) {\n    index = 3;\n}\n\narr[ index ] = msg;\n    \nreturn arr;\n}\n\nvar splitedMes = finalMsgArr (msg)\n\nreturn splitedMes;","outputs":4,"noerr":0,"x":430,"y":1042,"wires":[["7f1fd377.c70dcc","fd07dcf3.2b106"],["6463d37a.97ffcc","fd07dcf3.2b106"],["a5e681d4.ef13e","fd07dcf3.2b106"],["14ea5d93.69aa72","fd07dcf3.2b106"]]},{"id":"7f1fd377.c70dcc","type":"debug","z":"8454966f.c64018","name":"Киевстар","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":1002,"wires":[]},{"id":"6463d37a.97ffcc","type":"debug","z":"8454966f.c64018","name":"Водафон","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":1042,"wires":[]},{"id":"a5e681d4.ef13e","type":"debug","z":"8454966f.c64018","name":"Лайфселл","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":1082,"wires":[]},{"id":"14ea5d93.69aa72","type":"debug","z":"8454966f.c64018","name":"Неизвестный","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":1122,"wires":[]},{"id":"b094a427.64f278","type":"comment","z":"8454966f.c64018","name":"Основная логика","info":"","x":150,"y":460,"wires":[]},{"id":"fd07dcf3.2b106","type":"function","z":"8454966f.c64018","name":"Готовим ответ - успешно","func":"// msg.payloadSave = JSON.parse(JSON.stringify(msg.payload));\n\nvar code =  msg.payload.operCode;\nvar phone =  msg.POST_DATA.phone;\n\nmsg.payload = {\n    result : 'ok',\n    data : {\n        code : code,\n        phone: phone\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1180,"wires":[["21d3f11a.f1b7fe"]]},{"id":"89144527.bd04c8","type":"function","z":"8454966f.c64018","name":"Готовим ответ - ошибка","func":"msg.payload = {\n    result : 'error',\n    error_description : 'Не валидный номер телефона'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":942,"wires":[["a43c8960.aef408"]]},{"id":"a43c8960.aef408","type":"http response","z":"8454966f.c64018","name":"Ответ - невалидный телефон","statusCode":"200","headers":{},"x":990,"y":942,"wires":[]},{"id":"6645bef6.41a7e","type":"http request","z":"8454966f.c64018","name":"Проверка ролей","method":"POST","ret":"obj","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/roles/users/active/session?sid={{{sid}}}","tls":"","proxy":"","authType":"","x":770,"y":602,"wires":[["e336f8f1.5695b8"]]},{"id":"2d1c26de.603d5a","type":"function","z":"8454966f.c64018","name":"Готовим запрос к серверу авторизации","func":"msg.headers = {\n      \"Accept\" : \"application/json\"\n}\nmsg.sid = msg.POST_DATA.sid\nmsg.payload = {\n    \"list\":[\n        {\n            \"id\":\"CLCONT\"\n            \n        }\n        ]\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":602,"wires":[["6645bef6.41a7e"]]},{"id":"225054b.d22bcac","type":"comment","z":"8454966f.c64018","name":"Проверяем роль (CLCONT - mc)","info":"","x":690,"y":480,"wires":[]},{"id":"e336f8f1.5695b8","type":"function","z":"8454966f.c64018","name":"Анализруем ответ","func":"if (msg.payload.code) {\n    //словили ошибку, идем в первый оутпут\n    return [msg, null, null];\n} else {\n    //находим нужную роль\n    var role = msg.payload.list.filter (el => el.name === 'mc')\n    \n    \n    if (role.length) {\n    //нашли    \n       msg.payload.sidValid = 'Y'    \n       return [null,null,msg]\n    \n} else {\n    //не нашли\n        msg.payload.sidValid = 'N'\n        return [null, msg, null]\n}\n\n    \n}\n\n\n\n\n\n\n\n","outputs":3,"noerr":0,"x":390,"y":702,"wires":[["6649f791.8a4e18"],["3bfef211.fa832e"],["8806c431.e585a8"]]},{"id":"41094cfc.a01ec4","type":"debug","z":"8454966f.c64018","name":"sid !valid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":762,"wires":[]},{"id":"8e5673fb.4a06e","type":"debug","z":"8454966f.c64018","name":"sid без роли","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":802,"wires":[]},{"id":"6649f791.8a4e18","type":"function","z":"8454966f.c64018","name":"Готовим ответ - невалидный сид","func":"var text = msg.payload.text;\n\nmsg.payload = {\n    result : 'error',\n    error_description : text\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":682,"wires":[["41094cfc.a01ec4","d409bd5c.2e755"]]},{"id":"3bfef211.fa832e","type":"function","z":"8454966f.c64018","name":"Готовим ответ - сид без роли","func":"msg.payload = {\n    result : 'error',\n    error_description : 'Не достаточно прав, нет роли mc подсистема CLCONT'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":722,"wires":[["8e5673fb.4a06e","d409bd5c.2e755"]]},{"id":"d409bd5c.2e755","type":"http response","z":"8454966f.c64018","name":"Ответ, невалидный сид\\ нет роли","statusCode":"","headers":{},"x":1080,"y":682,"wires":[]},{"id":"53a71275.b3e8fc","type":"comment","z":"8454966f.c64018","name":"Валидируем номер телефона","info":"","x":670,"y":820,"wires":[]},{"id":"6428c475.a1d09c","type":"change","z":"8454966f.c64018","name":"Сохраняем Входящий Пэйлоад","rules":[{"t":"set","p":"POST_DATA","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["2d1c26de.603d5a"]]},{"id":"94b10b95.89a208","type":"change","z":"8454966f.c64018","name":"Описываем параметры для передачи","rules":[{"t":"set","p":"payload.phone","pt":"msg","to":"3805095875184962","tot":"str"},{"t":"set","p":"payload.sid","pt":"msg","to":"191017csa1w0p2lry22i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["b7394058.18c14"]]},{"id":"ee0955d.d9020a8","type":"inject","z":"8454966f.c64018","name":"Кривой номер телефона","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["94b10b95.89a208"]]},{"id":"6b37823a.43c8ac","type":"change","z":"8454966f.c64018","name":"Описываем параметры для передачи","rules":[{"t":"set","p":"payload.phone","pt":"msg","to":"+380509584962","tot":"str"},{"t":"set","p":"payload.sid","pt":"msg","to":"191017csa1w0p2lr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["b7394058.18c14"]]},{"id":"cda8d878.380ae8","type":"inject","z":"8454966f.c64018","name":"Кривой сид","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["6b37823a.43c8ac"]]},{"id":"679758c3.3cf3a8","type":"inject","z":"8454966f.c64018","name":"Несуществующий сид","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["bec74e44.616bc"]]},{"id":"bec74e44.616bc","type":"change","z":"8454966f.c64018","name":"Описываем параметры для передачи","rules":[{"t":"set","p":"payload.phone","pt":"msg","to":"+380509584962","tot":"str"},{"t":"set","p":"payload.sid","pt":"msg","to":"191017csa1w0p2lry29i","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["b7394058.18c14"]]},{"id":"de00899d.a0d958","type":"inject","z":"8454966f.c64018","name":"Сид без роли","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["3b076c45.7b7314"]]},{"id":"3b076c45.7b7314","type":"change","z":"8454966f.c64018","name":"Описываем параметры для передачи","rules":[{"t":"set","p":"payload.phone","pt":"msg","to":"+380509584962","tot":"str"},{"t":"set","p":"payload.sid","pt":"msg","to":"191021csb48v5yau7fp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["b7394058.18c14"]]}]