flows_lesson1_RevegJuriy.json
[{"id":"a897d6fa.9350e8","type":"inject","z":"483c3d1d.9d84b4","name":"Inject Task","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":216,"y":304,"wires":[["14a42a8d.573ad5"]]},{"id":"14a42a8d.573ad5","type":"http request","z":"483c3d1d.9d84b4","name":"Get currency exchange data","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","proxy":"","authType":"","x":446,"y":304,"wires":[["5c55355d.cce00c"]]},{"id":"f7c34432.ca8388","type":"debug","z":"483c3d1d.9d84b4","name":"log HW1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"HW1","targetType":"msg","x":660,"y":360,"wires":[]},{"id":"5c55355d.cce00c","type":"function","z":"483c3d1d.9d84b4","name":"Extract currency and time","func":"var HW1 = '';\nmsg.payload.forEach(function (item) {\n    if (item.ccy === 'USD') {\n        HW1 = item.sale;\n    }\n});\n\nvar now = new Date();\nvar DateHW1  =         now.getFullYear()    + '-' + \n               addZero(now.getMonth() + 1)  + '-' +\n               addZero(now.getDate())       + ' ' +  \n               addZero(now.getHours())      + ':' +  \n               addZero(now.getMinutes())    + ':' +\n               addZero(now.getSeconds());\n                 \n\nmsg.HW1 = HW1;\nmsg.DateHW1 = DateHW1;\n\n\n\nreturn msg;\n\nfunction addZero (x) {\n    return x < 10 ? '0' + x : x\n}\n","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["f7c34432.ca8388","c30e6f3e.54d9f"]]},{"id":"c30e6f3e.54d9f","type":"debug","z":"483c3d1d.9d84b4","name":"log DateHW1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"DateHW1","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"af97110d.7f91a","type":"comment","z":"483c3d1d.9d84b4","name":"simpe api request","info":"","x":210,"y":240,"wires":[]}]